{% assign featured_papers = site.publications | sort: "date" | reverse | where: "selected", true %}
{% assign paper = featured_papers | first %}

{% if paper %}
<section class="featured-paper">
    <div class="featured-label">Featured Paper</div>
    <div class="featured-content">
        <div>
            <h2>{{ paper.title }}</h2>
            <p class="featured-authors">{% include widgets/author_list.html authors=paper.authors %}</p>
            <p class="featured-venue">{{ paper.pub_pre }}<i>{{ paper.pub }}</i>{{ paper.pub_post }} {{ paper.pub_date }} {{ paper.pub_last }}</p>
            {% if paper.abstract %}
            <p class="featured-abstract">{{ paper.abstract }}</p>
            {% endif %}
        </div>
        <div class="featured-actions">
            {% for link in paper.links %}
            {% if link[1].url %}
            <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">{{ link[0] }} <i class="fas fa-arrow-right"></i></a>
            {% else %}
            <a target="_blank" href="{{ link[1] }}">{{ link[0] }} <i class="fas fa-arrow-right"></i></a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
